[Unit]
Description=Minecraft server
After=multi-user.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ec2-user
ExecStart=/usr/bin/python3 /home/ec2-user/server/Mc-Server-Watcher/main.py

[Install]
WantedBy=multi-user.target